body {
	font-size: 0.9rem;
}

form label {
	font-size: 0.8rem;
}
form section.form-section {
	margin-bottom: 60px;
}
.form-progress {
	counter-reset: step;
	width: 100%;
	padding-left: 0;
}
.form-progress li {
	list-style-type: none;
	float: left;
	width: 25%;
	position: relative;
	text-align: center;
	padding: 0 0px;
}
@media (max-width: 768px) { 
	.form-progress li a {
		font-size: 0.6rem;
	}
 }

.form-progress li:before {
	content: counter(step);
	counter-increment: step;
	width: 45px;
	height: 45px;
	line-height: 42px;
	border: 3px solid #ddd;
	color: #ddd;
	font-weight: 700;
	display: block;
	text-align: center;
	margin: 0 auto 10px;
	border-radius: 50%;
	background-color: white;
}
.form-progress li:after {
	content: '';
	position: absolute;
	width:100%;
	height: 3px;
	background-color: #ddd;
	top: 21px;
	left: -50%;
	z-index: -1;
}
.form-progress li:first-child:after {
	content: none;
}

.form-progress li.active {
	color: #8cbe3f;
}
.form-progress li.active:before {
	border-color: #8cbe3f;
	color: #8cbe3f;
}
.form-progress li.active + li:after {
	background-color: #8cbe3f;
}

#employeelist .employee {
	margin-bottom: 40px;
}
.fstChoiceItem, .fstResultItem, .fstMultipleMode .fstQueryInput {
	font-size: 0.7rem;
}
.fstMultipleMode .fstControls {
	padding: 0.23em 0.5em;
}

.fstElement.form-control {
	padding: 0;
}
.form-group .control-label {
	font-weight: 600;
}



/* Product conditionals - show/hide content based on product */

.show-kontor,
.show-kontorplads,
.show-membership,
.show-virtuelt,
.show-symbion,
.show-creators,
.show-univate
{ display:none; }

.kontor .show-kontor,
.kontorplads .show-kontorplads,
.membership .show-membership,
.virtuelt .show-virtuelt,
.show-all .show-kontor,
.show-all .show-kontorplads,
.show-all .show-membership,
.show-all .show-virtuelt,
.symbion .show-symbion,
.creators .show-creators,
.univate .show-univate,
.all .show-symbion,
.all .show-creators,
.all .show-univate
{ display: block; }

.kontor .hide-kontor,
.kontorplads .hide-kontorplads,
.membership .hide-membership,
.virtuelt .hide-virtuelt,
.symbion .hide-symbion,
.creators .hide-creators,
.univate .hide-univate
{ display: none; }

